* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --gray: #5c6f73;
    --dkblue: #6bb7bf;
    --blue: #c4f2f2;
}

body {
    background-color: var(--blue);
}

/* Header Section */
#container-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dkblue);
    height: 75px;
    padding: 20px 10px;
}

h1 {
    color: white;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 10px;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: 5px underline;
}

/* Hero Section */
#hero {
    position: relative;
    height: 400px;
    background-image: url(Images/Blue\ Background.jpg);
}

#hero img {
    position: absolute;
    height: 300px;
    left: 20px;
    top: 50px;
}

#hero h2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 300%;
}

/* Main Section */
.row-type-1  {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.row-type-2 {
    display: flex;
    justify-content: center;
}

#about-me {
    flex:1;
    text-align: right;
    padding-right: 20px;
    font-size: 200%;
}

div p {
    flex: 3;
    font-size: 120%;
    border: 2px var(--gray) solid;
    padding: 5px;
    height: 100px;
}

.empty {
    flex:0.75;
}

#my-work {
    flex:1;
    padding: 5px;
    text-align: right;
    padding-right: 20px;
    font-size: 200%;
}

#project-1 {
    flex:3;
    border: 5px var(--gray) solid;
    margin: 10px;
    padding: 20px;
    height: 400px;
    background-image: url("./Images/Project 2.jfif");
    object-fit: cover;
    color: white;
    font-size: 150%;
}

.projects {
    flex:1;
    border: 5px var(--gray) solid;
    margin: 10px;
    padding: 20px;
    height: 200px;
    background-image: url("Images/Project.jfif");
    color: white;
    font-size: 150%;
}

#contact-me {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
    flex-wrap: wrap;
}